
    {{#section "head"}}
        <meta name="robots" content="noindex">
    {{/section}}
    <h1>test page</h1>
    <p>we are testing jquery</p>
    {{#section "jquery"}}
        <script>
	        $(function(){
	        	alert("jquery success");
	        })
        </script>
    {{/section}}
